﻿
@{
    ViewBag.Title = "Full";
}

<h2>De inschrijvingen voor deze maaltijd zijn al vol!</h2>
<hr />
<button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>



