﻿
@{
    ViewBag.Title = "NoMeal";
}


<h2>Je staat helemaal niet ingeschreven voor deze maaltijd.</h2>
<hr />
<button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>

