﻿
@{
    ViewBag.Title = "Deleted";
}


<h2>De maaltijd is verwijderd.</h2>
<hr />
<button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("ViewMeals", "MealOverview")'">Terug</button>


